* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  max-width: 400px;
}

.square{
  height: 10px;
  width: 10px;
  background-color: rgb(58, 53, 53);
  margin: 2px;
  box-shadow: 0 0 2px rgb(118, 7, 7);
  transition: 5s  ease;
}

.square:hover{
  transition-duration: 0s;
}
